
<table class"table">
    <tr>
        <th>Title</th>
        <th>Runtime</th>
        <th>Genre</th>
       <th>Image</th>
    </tr>

    @foreach (var m in ViewBag.MovieList)
    {
        <tr>
            <td>@m.title</td>
            <td>@m.runtime</td>
            <td>@m.with_genres</td>            
        </tr>
    }

</table>