@using Microsoft.AspNet.Identity



<br />
<br />
<form action="/Azure/MovieByMood" method="get">
    <select name="Mood">

        <option value="Angry">Angry</option>
        <option value="WantToLaugh">Want To Laugh</option>
        <option value="WantToCry">Want To Cry</option>
        <option value="WantToGoToAnotherPlanet">Want To Go To Another Planet</option>
    </select>
    <input type="submit" value="Search" />
</form>
<br />
<br />





<table class="table">
    <tr>
        <th></th>
        <th>Title</th>
        <th>Runtime</th>
        <th>Plot</th>
    </tr>
    @foreach (var C in ViewBag.MovieList)
    {
        <tr>
            <td><img src="https://image.tmdb.org/t/p/w500/@C.poster_path" height="165" width="110" /></td>
            <td>
                @C.title
            </td>
            <td>
                @C.runtime
            </td>
            <td>
                @C.overview
            </td>
            <td><a href="/Azure/MoodRecToMovieList?title=@C.title&overview=@C.overview&poster_path=@C.poster_path&Id=@User.Identity.GetUserId()">Add to My List</a></td>


        </tr>
    }
</table>