@model System.Web.Mvc.HandleErrorInfo

<div class="jumbotron">
    <h1 class="text-danger">Oops...something went wrong!</h1><br />
    <h2 class="text-danger">An error occurred while processing your request.</h2><br />
    <img src="~/images/MoviePosterReel.gif" />
</div>