@*@{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@

<br />
<h2>The MovieMatch Team</h2>
<br /><br />

<div class="headshots">
    <div style="float:left; text-align:center; width:25%; ">
        <img src="~/images/John.jpg" alt="John Floreno" style=" border-radius:25px; width:15em; height:15em" />
        <p>
            <br />
            <label>John Floreno</label> <br />
            <a href="https://www.linkedin.com/in/jjfloreno/" target="_blank">LinkedIn</a> | <a href="https://github.com/jjfloreno" target="_blank">GitHub</a>
        </p>
    </div>


    <div style="float:left; text-align:center; width:25%; ">
        <img src="~/images/Chandra.jpg" alt="Chandra Floyd" style="border-radius:25px; width:15em; height:15em" />
        <p>
            <br />
            <label>Chandra Floyd </label><br />
            <a href="https://www.linkedin.com/in/chandrafloyd" target="_blank">LinkedIn</a> | <a href="https://github.com/chandrafloyd" target="_blank">GitHub</a>
        </p>
    </div>

    <div style="float:left; text-align:center; width:25%; ">
        <img src="~/images/Jose.jpg" alt="Jose Rosales" style="border-radius:25px; width:15em; height:15em" />

        <p>
            <br />
            <label> Jose Rosales </label> <br />
            <a href="https://www.linkedin.com/in/jose-a-rosales/" target="_blank">LinkedIn</a> | <a href="https://github.com/rosalesjose" target="_blank">GitHub</a>
        </p>
    </div>

    <div style="float:left; text-align:center; width:25%; ">
        <img src="~/images/zaineb.jpg" alt="Zaineb Yahay" style="border-radius:25px; width:15em; height:15em" />

        <p>
            <br />
            <label> Zaineb Yahya </label><br />
            <a href="https://www.linkedin.com/in/zaineb-yahya-/" target="_blank">LinkedIn</a> | <a href="https://github.com/ZainebYahya" target="_blank">GitHub</a>
        </p>
    </div>

</div>
<div style="color:white">.</div>
<div align="center">
            <h5>
              MovieMatch.com was created in the January 2018 cohort of the Grand Circus .Net Software Engineering boot camp.
          </h5>
</div>