@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h2>Movie Match</h2>

@*@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<p>
    MovieMatch.com is owned and operated by:
    
    {insert pics, emails, and githubs}

    <ul>
        <li>John Floreno</li>
        <li>Chandra Floyd</li>
        <li>Jose Rosales</li>
        <li>Zaineb Yahya</li>
    </ul>




</p>

