
<table class="table">
	<tr>
		<th></th>
		<th>Title</th>


	</tr>

	@foreach (var m in ViewBag.MovieList)
	{
		<tr>
			<td><img src="https://image.tmdb.org/t/p/w500/@m.poster_path" height="165" width="110" /></td>
			<td>@m.title</td>



		</tr>
	}
</table>
